<footer class="footer">
	<div class="wrapper">
		<div>
			© Copyright {{ site.time | date: '%Y' }} Bruno Brant.
			{% case site.lang %}
				{% when 'pt' %}
					Tema baseado em <a href="https://github.com/essentialenemy/noir/">Noir</a>
					de <a href="https://essentialenemy.com/">Victor Johnson</a>.
				{% else %}
					Theme based on <a href="https://github.com/essentialenemy/noir/">Noir</a>
					by <a href="https://essentialenemy.com/">Victor Johnson</a>.
			{% endcase %}	
		</div>
		<div class="social-links">
			{%- include social.html -%}
		</div>
	</div>
</footer>